        @font-face {
        	font-family:lal;
        	src:url(GreatVibes-Regular.otf);
        } /* 这字体中文无效好像233*/
        body > header{
        	width: 100%;
        	height: 50px;
        	background-color: rgba(140,50,70,0.5);
        	
        }
        body >header p{
            height: 50px;
            line-height: 50px;
            text-align: center;
            width: 100px;
            float: right;
            border:2px solid #693545;
            border-radius: 25px;
            margin-right: 10px;
            background-color: rgba(140,30,70,0.5);
            transition: background-color 1s ease;
            color: white;
        }
        body >header p:hover{
        	background-color: rgba(140,80,70,0.5);
        }
        main{
			overflow: hidden;
		}
		.left{
            width: 20%;
            padding: 2%;
            padding-bottom: 99em;
            margin-bottom: -99em;
            background-color: hsl(150,71%,30%);
            color: white;
            float: left;
            overflow: hidden;
		}
		.intro{
			text-align: center;
			padding: 10%;
			margin-top: 5%;
		}
		.pic{
			overflow: hidden;
			/*border:4px inset black;*/
			width: 100%;
            padding-top: 113%;
			margin: 20px auto;
			position: relative;
		}
		.pic img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-47%,-50%);
            max-width: 100%;/* 学姐边框和图片之间那段距离怎么去掉呀*/
		}
		[class*="bd"]{
			height: 2.5em;
			width: 100%;
			line-height: 2.5em;
			text-align: center;
			margin: 10px 0px;
			position: relative;
		}
        .bd1::before{
        	content: '';
        	display: inline-block;
        	width: 2em;
        	height: 1.5em;
        	background-image: url(0170420131355.png);
        	background-repeat: no-repeat;
        	vertical-align: middle;
        	position: absolute;
        	left: -30px;
        	top: 5px;
        }
        .bd2::before{
        	content: '';
        	display: inline-block;
        	width: 2em;
        	height: 1.5em;
        	background-image: url(0170420131504.png);
        	background-repeat: no-repeat;
        	position: absolute;
        	left: -30px;
        	top: 5px;
        }
        .bd3::before{
        	content: '';
        	display: inline-block;
        	width: 2em;
        	height: 1.5em;
        	background-image: url(0170420131521.png);
        	background-repeat: no-repeat;
        	position: absolute;
        	left: -30px;
        	top: 5px;
        }
        .bd4::before{
        	content: '';
        	display: inline-block;
        	width: 2em;
        	height: 1.5em;
        	background-image: url(0170420131537.png);
        	background-repeat: no-repeat;
        	position: absolute;
        	left: -30px;
        	top: 5px;
        }
        .morin{
        	display: block;
        	padding: 2%;
        	margin: 10px 0px 30px 0px;
            
        }
        .morin p{
        	margin: 5px 5px 5px 10px;
        	position: relative;
        }
        .morin p::after{
        	content: '';
        	display: block;
        	position: absolute;
        	bottom: 6px;
        	left: 70px;
        	width: 95px;
        	height: 6px;
        	margin-left: 10px;
        	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        }
		.right{
			width: 80%;
			padding: 2%;
			padding-bottom:99em;
			font-size: 22px;
			font-family: fantasy;
			margin-bottom: -99em;
			background-color: rgb(60,166,80);
			float: left;
			color: white;
			overflow: hidden;
			font-family: lal;
		}
		.right header{
			width: 100%;
			height: 200px;
		}
		.right h1{
			margin-top: 50px;
			font-size: 55px;
			font-style: italic;
			font-weight: 800px;
			font-family: lal;
			margin-left: 10%;
		}
		.right section{
			width: 100%;
			padding: 2%;
			margin: 25px 0px;
		}
		.right h3{
			font-size: 25px;
			font-family: serif;
			font-weight: 600;
			border-bottom: 3px solid hsl(160,80%,90%);
			position: relative;
		}
		.ltitle1::before{
			background-image: url(170420144427.png);
		    content: '';
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 5px;
			left: -30px;
			background-repeat: no-repeat;
			
		}
		.ltitle2::before{
			background-image: url(.ltitle.png);
		    content: '';
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 5px;
			left: -30px;
			background-repeat: no-repeat;
		}
		.ltitle3::before{
			background-image: url(25616.png);
		    content: '';
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 5px;
			left: -30px;
			background-repeat: no-repeat;
		}
		.ltitle4::before{
			background-image: url(0170420144533.png);
		    content: '';
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 5px;
			left: -30px;
			background-repeat: no-repeat;
		}
		.text li {
			list-style-image: url(pictures/9225641.png);
		}